/*
  mono fallbacks: "Courier New", monospace
  poppins fallbacks: Helvetica, sans-serif
*/

:root {
  --dark: #322E18;
  --light: #fffaeb;
  --primary: #ffbf00;
  --secondary: #44344f;
  --accent: #17dac6;
  --lightPrimary: #ffcc33;
  --lightSecondary: #750099;

  --headerFont: "Poppins",  "Courier New", monospace;
  --paragraphFont: "Roboto Mono", Helvetica, sans-serif;
  --bold: 700;
}

body {
  background-color: var(--light);
}
a{
  font-family: var(--paragraphFont);
}
a:link {
  color: var(--secondary);
}

a:visited {
  color: var(--lightSecondary);
}

a:hover {
  color: var(--lightPrimary);
}

a:active {
  color: var(--primary);
}

.topnav {
  overflow: hidden;
  background-color: var(--primary);
}
.topnav-right {
  float: right;
}
.topnav a {
  text-decoration: none; 
  float: left;
  color: var(--dark);
  text-align: center;
  padding: 1.2em 1.2em;
  text-decoration: none;
  font-size: 1em;
}

.topnav a:hover {
  background-color: var(--secondary);
  color: var(--light);
}

.topnav a.active {
  background-color: var(--secondary);
  color:var(--light);
}

.topnav a.visited{
  color: var(--dark);
  background-color: var(--primary);
}

h1 {
  color: var(--secondary);
  font-family: var(--headerFont);
}

h2 {
  color: var(--primary);
  font-family: var(--headerFont);
  font-weight: 600;
}

p {
  color: var(--dark);
  font-family: var(--paragraphFont);
  font-size: 1.25em;
}

ul {
  color: var(--dark);
  font-family: var(--paragraphFont);
}

.accent{
  color: var(--accent)
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 0.4em 0.8em 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 0.8em 0.16em 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 0.2em 1.6em;
}

.switchContainer {
  padding: 1em 1em;
}

/** Switch
 -------------------------------------*/

.switch input {
  position: absolute;
  opacity: 0;
}

/**
 * 1. Adjust this to size
 */

.switch {
  display: inline-block;
  font-size: 1.2em; /* 1 */
  height: 1em;
  width: 2em;
  background: #BDB9A6;
  border-radius: 1em;
}

.switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #FFF;
  box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
  -webkit-transition: all 300ms;
     -moz-transition: all 300ms;
          transition: all 300ms;
}

.switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
     -moz-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}